<!DOCTYPE html>
<html>
<head>
    <title>Welcome to WeFund Africa</title>
</head>
<body>
    <p>Dear {{ username }},</p>
    <p>We're thrilled to have you on board, and we appreciate the trust you've placed in us to be your financial partner on the road to business success.</p>

    <p>Thank you for choosing WeFund Africa for your business financing needs. As a valued member of our community, we're here to support you every step of the way.</p>

    <p>Here are a few next steps to help you get started:</p>

    <ol>
        <li><strong>Complete Your Profile:</strong> To tailor our services to your unique business requirements, please take a moment to complete your profile.</li>
        <li><strong>Explore Funding Options:</strong> Discover the range of financial solutions we offer, including purchase order funding and other business loans. Our team is ready to assist you in finding the right funding option for your specific needs.</li>
        <li><strong>Connect with our Team:</strong> Have questions or need guidance? Our dedicated customer support team is here to assist you. Feel free to reach out to <a href="mailto:hello@wefund.africa">hello@wefund.africa</a> / <a href="tel:0860767069">0860 767 069</a> for prompt assistance.</li>
        <li><strong>Stay Informed:</strong> Keep an eye on your inbox for updates, tips, and exclusive offers designed to help your business thrive. We're committed to providing valuable resources to support your growth.</li>
    </ol>

    <p>Once again, thank you for choosing WeFund Africa. We're excited about the opportunity to contribute to your business success.</p>

    <p>Best Regards,<br> WeFund Africa Team<br><a href="mailto:hello@wefund.africa">hello@wefund.africa</a><br><a href="tel:0860767069">0860 767 069</a></p>
</body>
</html>
